# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
myenv/
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# OS-specific
.DS_Store
.Trashes
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3
*.db

# dotenv files
.env
.flaskenv

# Testing
.pytest_cache/
.coverage

# Jenkins
Jenkinsfile.bak

# Temporary files
.gitignore.swp

# Test files
test.py
